* {
    box-sizing: border-box;
}

body {
    background-color: #043E3E;
}

.bigTitle h1 {
    color: #FAE5D3;
    padding-left: 38.3%;
    padding-top: 1%;
}


/* PREMIÈRE DIV  */

#carre {
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

#carre .case1 {
    width: 10vw;
    height: 20vh;
    background-color: black;
    margin-right: 1%;
}

#carre .case2 {
    width: 10vw;
    height: 20vh;
    background-color: #FAE5D3;
    margin-right: 1%;
}

#carre .case3 {
    width: 10vw;
    height: 20vh;
    background-color: black;
    margin-right: 1%;
}

#carre .case4 {
    width: 10vw;
    height: 20vh;
    background-color: #FAE5D3;
    margin-right: 1%;
}

.para1 {
    color: #FAE5D3;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.para2 {
    color: #000000;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.para3 {
    color: #FAE5D3;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.para4 {
    color: #000000;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}


/* DEUXIÈME DIV */

#carre2 {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

#carre2 .case5 {
    width: 10vw;
    height: 20vh;
    background-color: #FAE5D3;
    margin-right: 1%;
}

#carre2 .case6 {
    width: 10vw;
    height: 20vh;
    background-color: black;
    margin-right: 1%;
}

#carre2 .case7 {
    width: 10vw;
    height: 20vh;
    background-color: #FAE5D3;
    margin-right: 1%;
}

#carre2 .case8 {
    width: 10vw;
    height: 20vh;
    background-color: black;
    margin-right: 1%;
}

.para5 {
    color: black;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.para6 {
    color: #FAE5D3;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.para7 {
    color: black;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.para8 {
    color: #FAE5D3;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}


/* NOUVELLE CLASS POUR ÉVÈNEMENT JS */

.newClass {
    border: 5px solid #FAE5D3;
}

.newClass2 {
    border: 5px solid black;
}